body {
    max-width: calc(800px + 2em) !important;
}

#content {
    background-color: white;
    padding: 0 1em 0 1em;
}

.nobullet {
    list-style-type: none;
}

/*
 * Harmony Navbar Code
 * Referenced from work by Erik Terwan (https://codepen.io/erikterwan/pen/EVzeRP)
 */

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    width: 400px;
    height: calc(100vh - 100px);
    z-index: 2;
    pointer-events: none;
}

#nav nav {
    height: 100%;
}

#menuToggle {
    display: block;
    position: relative;
    top: 32px;
    left: 32px;
    height: 100%;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    pointer-events: all;
}

/*
 * Hamburger Menu
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -120px 0 0 -32px;
    padding: 50px;
    padding-top: 125px;
    height: 100%;
    overflow-y: scroll;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    pointer-events: all;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 0.5em 0;
    font-size: 16pt;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* Header Pinning */

h1 {
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 1;
    padding: 0.5em 0 0.4em 0;
}

/* styles for when the header is in sticky mode */
@media (max-width: 950px) {
    h1.is-pinned {
        padding-left: 60px;
        transition: padding 0.3s;
    }
}

/*
 * Harmony Book CSS
 */

/* Figure captions */
h4 {
    margin: 0 0 2em 0 !important;
}

center {
    text-align: left;
}

/* Code Blocks */

pre {
    text-align: left;
}

pre[class*="language-"]>code {
    padding: 0px;
    overflow-x: visible;
}

.copy-to-clipboard-button {
    margin-top: 0.4em;
    margin-right: 0.4em;
    color: #666;
    box-shadow: none !important;
    padding: 0.4em 0.8em !important;
    background: #c5c5c5aa !important;
}

div.code-toolbar>.toolbar {
    z-index: 0;
}